In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib notebook
import yfinance as yf
import datetime as dt

In [2]:
#first things first import data from as csv file

In [19]:
hdfc=pd.read_csv('/Users/dmoneksh/Downloads/HDFCBANK.NS.csv',index_col=0,parse_dates=True)
#this will help to read the csv file from ur system

In [20]:
hdfc.head(5)
#.head() return top five col from the data frame

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-11-22,1546.000000,1552.699951,1499.050049,1515.349976,1497.933472,7630636
2021-11-23,1502.000000,1527.800049,1496.349976,1515.550049,1498.131226,5617607
2021-11-24,1524.000000,1536.349976,1514.050049,1518.050049,1500.602539,15401143
2021-11-25,1514.800049,1533.300049,1507.000000,1525.949951,1508.411621,5125826
2021-11-26,1500.000000,1506.699951,1485.000000,1489.900024,1472.776001,9312468

In [26]:
hdfc.tail(4)
#.tail()fuction return bottom 5 col fro the dataframe

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-11-16,1618.650024,1642.000000,1612.000000,1632.900024,1632.900024,6789075
2022-11-17,1618.099976,1631.550049,1613.900024,1618.150024,1618.150024,6050465
2022-11-18,1621.000000,1623.000000,1605.250000,1613.900024,1613.900024,5229616
2022-11-21,1607.650024,1612.000000,1601.000000,1601.250000,1601.250000,411744

In [25]:
hdfc.dtypes
#.dtypes fuction gives the data types of each columns in dataframe

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [24]:
hdfc.index
#.index returns the index col from the dataframe

DatetimeIndex(['2021-11-22', '2021-11-23', '2021-11-24', '2021-11-25',
               '2021-11-26', '2021-11-29', '2021-11-30', '2021-12-01',
               '2021-12-02', '2021-12-03',
               ...
               '2022-11-07', '2022-11-09', '2022-11-10', '2022-11-11',
               '2022-11-14', '2022-11-15', '2022-11-16', '2022-11-17',
               '2022-11-18', '2022-11-21'],
              dtype='datetime64[ns]', name='Date', length=249, freq=None)

In [28]:
hdfc.loc['2022-11-15']
#this is important function when it comes to finding the specific info using the index
#.loc

Open         1.623150e+03
High         1.623150e+03
Low          1.605250e+03
Close        1.619000e+03
Adj Close    1.619000e+03
Volume       5.515101e+06
Name: 2022-11-15 00:00:00, dtype: float64

In [34]:
hdfc.loc["2021-11-26":"2021-12-03"]
#this is how you can access the data from specific range start and end date

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-11-26,1500.000000,1506.699951,1485.000000,1489.900024,1472.776001,9312468
2021-11-29,1494.800049,1507.650024,1462.000000,1501.250000,1483.995605,6495498
2021-11-30,1495.000000,1529.000000,1486.550049,1493.550049,1476.384155,12610771
2021-12-01,1495.000000,1507.050049,1489.099976,1504.650024,1487.356445,4338817
2021-12-02,1504.500000,1528.800049,1500.000000,1525.750000,1508.213989,5601555
2021-12-03,1525.800049,1535.949951,1507.050049,1513.550049,1496.154175,4062347

In [36]:
hdfc.iloc[-5]
# when u dont have the idea of the specfic date by using .iloc u can acces the any 
#row eg iloc[-5] will give u the last fifth row from the data frame
#eg iloc[0] will give u the first row from the data frame

Open         1.623150e+03
High         1.623150e+03
Low          1.605250e+03
Close        1.619000e+03
Adj Close    1.619000e+03
Volume       5.515101e+06
Name: 2022-11-15 00:00:00, dtype: float64

In [38]:
hdfc.tail(6)
#verifying with the previous command and the result is perfect

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-11-14,1612.000000,1628.000000,1598.000000,1615.050049,1615.050049,9597695
2022-11-15,1623.150024,1623.150024,1605.250000,1619.000000,1619.000000,5515101
2022-11-16,1618.650024,1642.000000,1612.000000,1632.900024,1632.900024,6789075
2022-11-17,1618.099976,1631.550049,1613.900024,1618.150024,1618.150024,6050465
2022-11-18,1621.000000,1623.000000,1605.250000,1613.900024,1613.900024,5229616
2022-11-21,1607.650024,1612.000000,1601.000000,1601.250000,1601.250000,411744

In [42]:
hdfc['Close']
#this is how u can access  columns from the data frame

Date
2021-11-22    1515.349976
2021-11-23    1515.550049
2021-11-24    1518.050049
2021-11-25    1525.949951
2021-11-26    1489.900024
                 ...
2022-11-15    1619.000000
2022-11-16    1632.900024
2022-11-17    1618.150024
2022-11-18    1613.900024
2022-11-21    1601.250000
Name: Close, Length: 249, dtype: float64

In [44]:
hdfc[['Close','Open','High']]
#this is how u can acces mutiple col from the data frame

                  Close         Open         High
Date
2021-11-22  1515.349976  1546.000000  1552.699951
2021-11-23  1515.550049  1502.000000  1527.800049
2021-11-24  1518.050049  1524.000000  1536.349976
2021-11-25  1525.949951  1514.800049  1533.300049
2021-11-26  1489.900024  1500.000000  1506.699951
...                 ...          ...          ...
2022-11-15  1619.000000  1623.150024  1623.150024
2022-11-16  1632.900024  1618.650024  1642.000000
2022-11-17  1618.150024  1618.099976  1631.550049
2022-11-18  1613.900024  1621.000000  1623.000000
2022-11-21  1601.250000  1607.650024  1612.000000

[249 rows x 3 columns]

In [45]:
hdfc['daily_pct_chg']=(hdfc['Close']-hdfc['Open'])/hdfc['Open']*100
#if u need to create a new columns in the data frame and how u can calculate the 
#daily percentage change

In [46]:
hdfc.head()

,Open,High,Low,Close,Adj Close,Volume,daily_pct_chg
Date,,,,,,,
2021-11-22,1546.000000,1552.699951,1499.050049,1515.349976,1497.933472,7630636,-1.982537
2021-11-23,1502.000000,1527.800049,1496.349976,1515.550049,1498.131226,5617607,0.902134
2021-11-24,1524.000000,1536.349976,1514.050049,1518.050049,1500.602539,15401143,-0.390417
2021-11-25,1514.800049,1533.300049,1507.000000,1525.949951,1508.411621,5125826,0.736064
2021-11-26,1500.000000,1506.699951,1485.000000,1489.900024,1472.776001,9312468,-0.673332

In [47]:
#so now the question that arise in my mind how can i caluculate the return that is 
#if i bought the stock on the first day and sold on the last day how much did i gain

In [49]:
norm = hdfc['Close']/hdfc['Close'].iloc[0]

norm

In [50]:
norm# so it can be said that the hdfc stock in one year grew  by 5 %

Date
2021-11-22    1.000000
2021-11-23    1.000132
2021-11-24    1.001782
2021-11-25    1.006995
2021-11-26    0.983205
                ...
2022-11-15    1.068400
2022-11-16    1.077573
2022-11-17    1.067839
2022-11-18    1.065035
2022-11-21    1.056687
Name: Close, Length: 249, dtype: float64

In [51]:
#how can u calculate the return from the specific date mentiion

In [52]:
hdfc['Close'].loc['2022-11-18']/hdfc['Close'].loc['2021-11-26']
#suppose u bought the stock on the 11/21 and sold it on 11/22 you would get the return of 8%

1.0832270608782808

In [54]:
hdfc['Normalized']=hdfc['Close']/hdfc['Close'].iloc[0]
#creatind a normalized column on the data frame and we get the returns

In [55]:
hdfc.head()

,Open,High,Low,Close,Adj Close,Volume,daily_pct_chg,Normalized
Date,,,,,,,,
2021-11-22,1546.000000,1552.699951,1499.050049,1515.349976,1497.933472,7630636,-1.982537,1.000000
2021-11-23,1502.000000,1527.800049,1496.349976,1515.550049,1498.131226,5617607,0.902134,1.000132
2021-11-24,1524.000000,1536.349976,1514.050049,1518.050049,1500.602539,15401143,-0.390417,1.001782
2021-11-25,1514.800049,1533.300049,1507.000000,1525.949951,1508.411621,5125826,0.736064,1.006995
2021-11-26,1500.000000,1506.699951,1485.000000,1489.900024,1472.776001,9312468,-0.673332,0.983205

In [56]:
hdfc.tail()

,Open,High,Low,Close,Adj Close,Volume,daily_pct_chg,Normalized
Date,,,,,,,,
2022-11-15,1623.150024,1623.150024,1605.250000,1619.000000,1619.000000,5515101,-0.255677,1.068400
2022-11-16,1618.650024,1642.000000,1612.000000,1632.900024,1632.900024,6789075,0.880363,1.077573
2022-11-17,1618.099976,1631.550049,1613.900024,1618.150024,1618.150024,6050465,0.003093,1.067839
2022-11-18,1621.000000,1623.000000,1605.250000,1613.900024,1613.900024,5229616,-0.438000,1.065035
2022-11-21,1607.650024,1612.000000,1601.000000,1601.250000,1601.250000,411744,-0.398098,1.056687

In [57]:
hdfc.describe()
#this describe function is very useful in getting the total decribtion of the dataframe 
# thats why it is known as .describe function as u can see the output u almost comes 
# to get everything the max, min, std, mean no of rows .

,Open,High,Low,Close,Adj Close,Volume,daily_pct_chg,Normalized
count,249.000000,249.000000,249.000000,249.000000,249.000000,2.490000e+02,249.000000,249.000000
mean,1445.140766,1459.939356,1431.471090,1446.357033,1438.422292,7.866505e+06,0.092963,0.954471
std,77.504683,78.687756,76.499935,77.229590,74.978336,5.171045e+06,1.217547,0.050965
min,1275.000000,1296.400024,1271.599976,1281.300049,1281.300049,4.117440e+05,-3.506927,0.845547
25%,1380.349976,1398.000000,1362.900024,1382.349976,1378.449951,5.161071e+06,-0.689654,0.912231
50%,1454.300049,1466.900024,1442.500000,1454.400024,1446.432251,6.435398e+06,0.066094,0.959778
75%,1502.000000,1518.800049,1492.099976,1506.000000,1496.154175,8.871571e+06,0.804881,0.993830
max,1666.699951,1722.099976,1613.900024,1656.800049,1637.757813,4.872548e+07,4.860763,1.093345

In [58]:
#what if you need to get the min value from the close column

In [60]:
hdfc['Close'].min()
#.min fucntion returns you the min value from the column that u have selected from the dataframe

1281.300049

In [63]:
#another question on what date was the min value of stock

In [64]:
hdfc['Close'].argmin()
#this returns the index which has the minimun value

142

In [65]:
hdfc['Close'].iloc[142]
#cross check with the above describe function and it show excat same minium value in the dataframe

1281.300049

In [66]:
hdfc['Normalized'].argmin()

142

In [61]:
#what if you need to get the min value of whole dataframe

In [62]:
hdfc.min()
#this return the minimum value of the whole dataframe

Open               1275.000000
High               1296.400024
Low                1271.599976
Close              1281.300049
Adj Close          1281.300049
Volume           411744.000000
daily_pct_chg        -3.506927
Normalized            0.845547
dtype: float64

In [67]:
# and its similar to get the max value from the dataframe

In [68]:
hdfc.max()

Open             1.666700e+03
High             1.722100e+03
Low              1.613900e+03
Close            1.656800e+03
Adj Close        1.637758e+03
Volume           4.872548e+07
daily_pct_chg    4.860763e+00
Normalized       1.093345e+00
dtype: float64

In [69]:
hdfc['Open'].max()
#it return the max value from the open column.

1666.699951

In [70]:
hdfc['Open'].argmax()#similer to the earlier what we did to get the min value

93

In [71]:
hdfc['Open'].iloc[93]

1666.699951

In [73]:
#dropping a column from the dataframe

In [74]:
hdfc.drop(['daily_pct_chg'],axis=1,inplace=True)
#daily_pct_chg column from the hdfc data frame has been drop ,axis =1 is for the colummn
# and inplace=true will make the change permenant

In [75]:
hdfc

,Open,High,Low,Close,Adj Close,Volume,Normalized
Date,,,,,,,
2021-11-22,1546.000000,1552.699951,1499.050049,1515.349976,1497.933472,7630636,1.000000
2021-11-23,1502.000000,1527.800049,1496.349976,1515.550049,1498.131226,5617607,1.000132
2021-11-24,1524.000000,1536.349976,1514.050049,1518.050049,1500.602539,15401143,1.001782
2021-11-25,1514.800049,1533.300049,1507.000000,1525.949951,1508.411621,5125826,1.006995
2021-11-26,1500.000000,1506.699951,1485.000000,1489.900024,1472.776001,9312468,0.983205
...,...,...,...,...,...,...,...
2022-11-15,1623.150024,1623.150024,1605.250000,1619.000000,1619.000000,5515101,1.068400
2022-11-16,1618.650024,1642.000000,1612.000000,1632.900024,1632.900024,6789075,1.077573
2022-11-17,1618.099976,1631.550049,1613.900024,1618.150024,1618.150024,6050465,1.067839
2022-11-18,1621.000000,1623.000000,1605.250000,1613.900024,1613.900024,5229616,1.065035
2022-11-21,1607.650024,1612.000000,1601.000000,1601.250000,1601.250000,411744,1.056687

In [76]:
#finding a mean value form the column
hdfc['Close'].mean()
#.mean() function returns a mean value form the selected column of the dataframe

1446.357032650603