#FOR LOOPS 
Write a for loop that iterates through a list of integers and prints out the square of each integer.

In [4]:
a = [1,2,3,4,5]
for i in  a:
    print(i**2)

1
4
9
16
25

#Write a for loop that iterates through a string and prints out each character on a separate line.

In [5]:
name = 'Moneksha Vikas Dangat'
for char in name:
    print(char)

M
o
n
e
k
s
h
a

V
i
k
a
s

D
a
n
g
a
t

#Write a for loop that iterates through a dictionary and prints out each key-value pair on a separate line.

In [8]:
ticker = {'symbol':'aapl','price':'123','company':'AppleINC','product':['MAC','IPOD','Iwatch','IPHONE']}
for key,values in ticker.items():
    print(key,':',values)

symbol : aapl
price : 123
company : AppleINC
product : ['MAC', 'IPOD', 'Iwatch', 'IPHONE']

#Write a for loop that iterates through a list of strings and prints out only the strings that contain the letter 'e'.

In [18]:
string = ['m','s','e','e','ad','ad','q','r','e']
for char in string:
    if 'e' in char:
    
      print(char)

e
e
e

#Write a for loop that iterates through a list of numbers and adds up only the even numbers.

In [20]:
number = [1,2,4,5,6,7,8,34,63,34]
sum_num = 0
for num in number:
    if num%2 == 0:
        sum_num+=num

print('the sum of number in the list is ',sum_num)

the sum of number in the list is  88

#Write a for loop that iterates through a list of numbers and prints out the index of each number.

In [27]:
number = [1,2,4,5,6,7,8,34,63,90]
index = 0
for num in number:
    print("index of ",num ,"in the list is ",number.index(num))
    index+=1

index of  1 in the list is  0
index of  2 in the list is  1
index of  4 in the list is  2
index of  5 in the list is  3
index of  6 in the list is  4
index of  7 in the list is  5
index of  8 in the list is  6
index of  34 in the list is  7
index of  63 in the list is  8
index of  90 in the list is  9

#Write a for loop that iterates through a range of numbers and prints out only the numbers that are divisible by 3.

In [33]:
for i in range (0,31):
    if i % 3 == 0:
         print(i)

0
3
6
9
12
15
18
21
24
27
30

#Write a for loop that iterates through a list of names and prints out a greeting for each name.

In [34]:
names = ['mon','mayu','abhi','ram','leen','neha']
for char in names:
    print("hello:",char)

hello: mon
hello: mayu
hello: abhi
hello: ram
hello: leen
hello: neha


Write a for loop that iterates through a list of numbers and finds the smallest number.

In [37]:
numbers = [12,23,234,23,345,11,3,4,5]
small = number[0]
for i in numbers:
    if i < small:
        small = i
print('the smallest number is :',small)

the smallest number is : 1

In [38]:
numbers = [12, 23, 234, 23, 345, 11, 3, 4, 5]
small = numbers[0]  # initialize small to be the first number in the list

for i in numbers:
    if i < small:
        small = i

print('The smallest number is:', small)

The smallest number is: 3

Write a for loop that iterates through a list of strings and concatenates them into a single string.

In [40]:
list = ['moneksh','vikas','dangat']
result=''
for i in list:
    result+=i
    print(result)

moneksh
monekshvikas
monekshvikasdangat